name: Publish

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository

      - uses: actions/setup-node@v4
        name: Setup Node.js @v20
        with:
          cache: npm
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
        name: Install dependencies

      - uses: changesets/action@v1
        name: Publish to NPM
        with:
          title: "chore(release):  version packages"
          commit: "chore(release):  version packages"
          version: npx changeset version
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-gh:
    name: Publish to GitHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository

      - uses: actions/setup-node@v4
        name: Setup Node.js @v20
        with:
          cache: npm
          node-version: 20.x
          registry-url: 'https://npm.pkg.github.com'
          scope: '@theholocron'

      - run: npm ci
        name: Install dependencies

      - uses: changesets/action@v1
        name: Publish to GitHub
        with:
          title: "chore(release):  version packages"
          commit: "chore(release):  version packages"
          version: npx changeset version
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
